<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>919474934025-rtp6s1botj0err1mqhmu9tcgjd2f5tgr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.919474934025-rtp6s1botj0err1mqhmu9tcgjd2f5tgr</string>
	<key>API_KEY</key>
	<string>AIzaSyBNCJQBnkQSoBYIo8xtOKuI1qVYOtbgHgw</string>
	<key>GCM_SENDER_ID</key>
	<string>919474934025</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.advert</string>
	<key>PROJECT_ID</key>
	<string>advert-334c7</string>
	<key>STORAGE_BUCKET</key>
	<string>advert-334c7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:919474934025:ios:fb99fb8555d10300dc03d8</string>
</dict>
</plist>